.carousel-indicators [data-bs-target] {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  margin-bottom: 0;
}
.partner-wrapper {
  min-height: 130px;
  /* max-height: 160px; */
}
